{{#if project}}

<form action="/projects/{{project.id}}/edit" method="POST" enctype="multipart/form-data">
    {{else}}
    <form action="/projects" method="POST" enctype="multipart/form-data">
        {{/if}}
        <div class="card-body pb-5">
            <div class="md-form">
                <label for="name">Name</label>
                <input value="{{project.name}}" name="name" type="text"
                    class="form-control {{#if error.name }}is-invalid{{/if}}" id="name">

                {{#if error.name}}
                <div class="invalid-feedback">
                    {{error.name.message}}
                </div>
                {{/if}}
            </div>

            <div class="md-form">
                <label for="description">Description</label>
                <textarea rows="5" type="text" class="form-control {{#if error.description }}is-invalid{{/if}}"
                    name="description" id="description">{{project.description}}</textarea>

                {{#if error.description}}
                <div class="invalid-feedback">
                    {{error.description.message}}
                </div>
                {{/if}}
            </div>

            <div class="md-form">
                <label for="url">URL</label>
                <input value="{{project.url}}" type="text" class="form-control {{#if error.url }}is-invalid{{/if}}"
                    id="url" name="url">

                {{#if error.url}}
                <div class="invalid-feedback">
                    {{error.url.message}}
                </div>
                {{/if}}
            </div>

            <div class="md-form">
                <label for="github">Github</label>
                <input value="{{project.github}}" type="text"
                    class="form-control {{#if error.github }}is-invalid{{/if}}" id="github" name="github">

                {{#if error.github}}
                <div class="invalid-feedback">
                    {{error.github.message}}
                </div>
                {{/if}}
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text button-1" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" value="{{project.image}}"
                        class="custom-file-input {{#if error.image }}is-invalid{{/if}}" id="image" name="image">
                    <label class="custom-file-label font-weight-lighter" for="inputGroupFile01">Choose file</label>
                </div>
            </div>
            {{#if error.image}}
            <div class="invalid-feedback">
                {{error.image.message}}
            </div>
            {{/if}}



            <div class="md-form">
                <label for="github">Staff</label>
                <br><br>
                <select class="form-control {{#if error.staff }}is-invalid{{/if}}" name="staff">
                    {{#each staffUsers as |staff|}}
                    <option value="{{staff._id}}">{{staff.name}}</option>
                    {{/each}}
                </select>

                {{#if error.staff}}
                <div class="invalid-feedback">
                    {{error.staff.message}}
                </div>
                {{/if}}
            </div>
            <div class="text-center py-4 mt-3">
                <button type="submit" class=" mx-auto btn button-2 ">Submit</button>
            </div>
        </div>
    </form>